<!-- <table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Correo</th>
    <th>Password</th>
    <td>Acciones</td>
  </tr>
  <tr *ngFor="let usuario of usuarios">
    <td>{{usuario.nombre}}</td>
    <td>{{usuario.apellido}}</td>
    <td>{{usuario.correo}}</td>
    <td>{{usuario.password}}</td>
    <td>
      <p-button label="EDITAR" (click)="editar(usuario)"></p-button>
      <p-button label="ELIMINAR" (click)="eliminar(usuario)"></p-button>
    </td>
  </tr>
</table>

<br>
<br>
<br>
-->

<ul>
  <li>
    <a [routerLink]= "['/inicio']">
      Inicio
    </a>
  </li>
  <li>
    <a [routerLink]= "['/login']">
      Login
    </a>
  </li>
  <li>
    <a [routerLink]= "['/inicio', 'gestion-usuarios'] " >Gestión de Usuarios</a>
  </li>
  <li>
    <a [routerLink]=" ['/inicio', 'gestion-usuarios', 1,'gestion-libros']">Gestión de Libros</a>
  </li>

</ul>



<router-outlet></router-outlet>

<p>Pie de Pagina</p>
